:root{
}
*{
    font-family: Verdana;
    letter-spacing: 0.4em;
    margin: 0;

}
body{
    background-color: rgba(0,0,0,0.1);
}

.title-box{
    width: 70vw;
    height: 50px;
    text-align: center;

     margin: 20vh auto -5vh auto;
}
.title-box h1{

}
.login-info-container{
    height: 36vh;
    transform: translateY(12vh);
    background-color: rgba(0, 255, 255, 0.5);
}
.container{
    transform: translateY( 15%);
}
.login-textbox-container,
.login-button-container{
    position: relative;
    width: 70vw;
    margin: 0px auto 0 auto;

}
.login-textbox,
.login-button{
    width: 80%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto auto 10px auto;

    background-color: aliceblue;
    border-radius: 5px;
    border: transparent;
    text-align: center;
}

.login-button-container{
    margin-top: 40px;
}
.login-button{
    width: 60%;
    height: 4vh;
    border-radius: 10px;
    background-color: rgba(127, 255, 212, 0.8);
}
.solid{
    width: 80%;
    margin: auto auto 10px auto;
}
.login-textbox:hover{
    background-color: rgba(0,0,0,0.1);
}
.login-textbox:focus{
    background-color: rgba(0,0,0,0.1);
}
.login-button:hover{
    background-color: rgba(93, 165, 183, 0.33);
}

#clickable__title{
    background-color: rgba(0,0,0,0.1);
    border: transparent;
    font-size: 0.5em
;
}
