*{
    font-family: Verdana;
    letter-spacing: 0.4em;
    text-transform: lowercase;
}
.header{
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.header_left,
.header_right{
    width: 50vw;
    display: flex;
    justify-content: center;
    align-content: center;
}
#welcome_name,
#welcome_day{
    margin-left: 0.8em;
}
main{
    width: 80vw;
    grid-gap: 2px;
    background-color: black;
    margin: auto;
    display: grid;
    grid-template-columns: 0.3fr repeat(5, 1fr);
}


#column_food >div{
}
#column_day > div {
}
#column_cost > p{
}
.table_column{
    position: relative;
    height: fit-content;

    display: grid;
    /*grid template rows automatic*/
    grid-template-columns: 1fr;
    background: white;
    justify-content: center;
    text-align: center;
}
#column_food{
    grid-column: 2 / 6;
}
.table_column > div{
    position: inherit;
    /* background-color: aqua; */
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    height: fit-content;
    min-height: calc(1em + 4px); !important;
    display: grid;
    margin: 2px 0;
}
.card{
    display: flex;
    justify-content: center;
    background-color: yellow;
    margin: 2px auto;
    width: 90%;
}
p{
    display: inline;
    margin: 0;
}
.change_day_button{
    width: 2em;
    height: 2em;
    background-color: black;
    position: relative;
    margin: auto;
}
