:root{
    --accents-color: 0, 216, 200;
    --lightest-salmon: 255, 211, 174;
    --salmon: 255, 104, 66;
    --dark-salmon: 131, 91, 50;
    --white: 255, 255, 255;
}
*{
    font-family: Verdana;
    letter-spacing: 0.4em;
    text-transform: lowercase;
    margin: 0;
}
body{
    background-color: rgb(var(--salmon));
}
.cards{
    display: grid;
    grid-template-rows: 0.1fr 1fr;
    background-color: white;
    border-radius: 30px;
}
.day_h3{
    margin: auto;
}
.header{
    background-color: var(--dark-salmon);
    width: 100vw;
    height: 3em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.header_left,
.header_right{
    color: #fff;
    position: relative;
    width: 50vw;
    margin: auto 0;
    line-height: 1em;
    display: flex;
    justify-content: center;
    align-content: center;
}
#welcome_name,
#welcome_day{
    margin-left: 0.8em;
}
main{
    height: 100vh;
    width: 80vw;
    border-radius: 1em;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
}
.table_column{
    height: 100%;
    width: 100%;
    position: relative;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    text-align: center;
}
.daily_foods{
    heigth: 100%;
}
.food_card{
    height: 2em;
    display: flex;
    justify-content: center;
    background-color: rgb(var(--accents-color));
    margin: 0.5% auto;
    width: 90%;
    border-radius: 0.5rem;

    align-content: center;
}
.food_card > p{
    margin: auto;
}
p{
    display: inline;
    margin: 0;
}
.change_day_button{
    width: 2em;
    height: 2em;
    background-color: #fff;
    border: transparent;
    position: relative;
    margin: auto;
}

