{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Landing</title>
    <link href="../../static/bootstrap/css/bootstrap_morph.min.css" rel="stylesheet">
    <link href="../../static/css/acqua.css" rel="stylesheet">
</head>

<header class="title-box w-100 justify-content-center align-items-center text-center sticky-top"
        style="display:grid; grid-template-columns: 1fr 1fr 1fr; margin-top: 2vh;">
    <div class="d-flex justify-content-center align-items-center " style="margin-left: 5vw; grid-column-start: 0;">
        <small class="form-text" style="font-size: 1.3em;">welcome: </small>
        <h1 style="font-size: 2.5em;" id="username_title margin:auto">{{ user }}</h1>
    </div>
    <div class="d-flex justify-content-center align-items-center" style="margin-right: 5vw; grid-column-start: 3;">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                {{ diet_id }}
            </button>
            <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton1" id="dropdownMenu1"></ul>
        </div>
        <small class="form-text" style="font-size: 1.3em;"> &nbsp day </small>

        <h1 style="font-size: 2.5em;" id="todays_date">today &nbsp</h1>

    </div>
</header>

<body class=" w-100 h-100 justify-content-center align-items-center mx-auto position-absolute"
      onload="(loadPage(
              {{ diets_id_list }},
              {{ days_list }},
              {{ meal_food_list }},
              {{ meals_list }},
              {{ food_list }},
              ))">

{% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" id="alert">
        <strong id="alert-message">Message: </strong> {{ message }}
    </div>
{% endfor %}

<div style="display: grid;">
    <div class="w-100 d-flex justify-content-center align-items-center position-relative"
         style="height: 70vh;" id="tab-container">
        <button type="button" class="btn btn-primary mx-auto h-25"
                style="position:relative; margin-top: auto; margin-bottom: auto;"
                onclick="setSelectedDay(
                        (getSelectedDay() - 1),
                        {{ diets_id_list }},
                        {{ days_list }},
                        {{ meal_food_list }},
                        {{ meals_list }},
                        {{ food_list }})">
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-caret-left"
                 viewBox="0 0 16 16">
                <path d="M10 12.796V3.204L4.519 8 10 12.796zm-.659.753-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753z"/>
            </svg>
        </button>
        <div class="w-75 mx-auto" id="table_space" style="margin: auto;">
        </div>
        <button type="button" class="btn btn-primary mx-auto h-25"
                onclick="setSelectedDay(
                        (getSelectedDay() + 1),
                        {{ diets_id_list }},
                        {{ days_list }},
                        {{ meal_food_list }},
                        {{ meals_list }},
                        {{ food_list }})">
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-caret-right"
                 viewBox="0 0 16 16">
                <path d="M6 12.796V3.204L11.481 8 6 12.796zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"/>
            </svg>
        </button>
    </div>


    <div id="buttonsbar"
         style="margin-top: max(5vh, 50px); margin-left:auto; margin-right: auto; width:70%; display: flex; justify-content: center; align-content: center;">

        <button type="submit" onclick="redirectToEdit()" class="btn btn-primary" style="margin-right: 30px;">
            edit diet
        </button>

        <form action="/create">
            <button type="submit" class="btn btn-primary" style="margin-right: 30px;">
                create new diet
            </button>
        </form>


    </div>

</div>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>

<script src="" async defer></script>

<script src="../../static/js/main/main.js"></script>
</body>
</html>