{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Landing</title>
    <link href="../../../static/bootstrap/css/bootstrap_morph.min.css" rel="stylesheet">
</head>


<body class="w-100 h-100 d-flex justify-content-center align-items-center">

{% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" id="alert">
        <strong id="alert-message">Message: </strong> {{ message }}
    </div>
{% endfor %}

<div class="title-box w-100 d-flex justify-content-center align-items-center my-auto">
    <h1 class="mx-auto">dietio</h1>
</div>

<form action="/signin" method="post" class="w-100 d-flex justify-content-center align-items-center">
    {% csrf_token %}
    <fieldset>
        <div class="form-group">
            <label for="user" class="form-label mt-4">Email address</label>
            <input type="text" class="form-control " id="user" aria-describedby="emailHelp"
                   placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="password" class="form-label mt-4">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>
        <input type="submit" value="log-in" id="login-button" class="btn btn-primary my-auto">
    </fieldset>
</form>


<script src="../../../static/bootstrap/js/bootstrap.bundle.min.js"></script>
<script>
    setTimeout(fade_out, 3000);

    function fade_out() {
        $("#alert").fadeOut().empty();
    }

    $(".login-form")[0].reset(); // this is to reset the form
</script>
<script src="" async defer></script>
<script src="../../../static/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>