{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Landing</title>
    <link href="../../../static/bootstrap/css/bootstrap_morph.min.css" rel="stylesheet">
</head>

<body class="w-100 h-100 d-grid justify-content-center align-items-center">

{% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message: </strong> {{ message }}
    </div>
{% endfor %}

<div class="title-box w-100 d-grid justify-content-center align-items-center text-center"
     style="margin-top:15vh; padding-left:50px; padding-right: 50px;">
    <h1 style="font-size: 5em;">diaita</h1>
    <small class="form-text text-muted" style="font-size: 1.3em; margin-top: -20px;">sign up</small>
</div>

<div class="login-info-container">
    <form action="/signup" method="post" class="w-100 d-flex justify-content-center align-items-center">
        {% csrf_token %}
        <fieldset>
            <div class="form-group">
                <label for="user" class="form-label mt-4">username</label>
                <input type="text" class="form-control" id="user" name="user" placeholder="username">
            </div>
            <div class="form-group">
                <label for="email" class="form-label mt-4">email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="username">
            </div>
            <div class="form-group">
                <label for="pass1" class="form-label mt-4">password</label>
                <input type="password" class="form-control" id="pass1" name="pass1" placeholder="password">
            </div>
            <div class="form-group">
                <label for="pass2" class="form-label mt-4">confirm password</label>
                <input type="password" class="form-control" id="pass2" name="pass2" placeholder="password">
            </div>
            <div style="display: flex; justify-content: center; align-items: center; margin-top:50px;">
                <input type="submit" value="signup" id="signup-button" class="btn btn-primary my-auto">
            </div>
        </fieldset>
    </form>

    <div class="already" style="display: flex; justify-content: center; align-items: center; margin-top:25px;">
        <form action="/signin">
            <input type="submit" id="already-registered__button" value="login instead" class="btn btn-primary my-auto">
        </form>
    </div>
    <script src="" async defer></script>
</div>
</body>
</html>