{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Landing</title>
    <link rel="stylesheet" href="{% static 'css/acqua-reg.css' %}">
</head>
<body>
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <strong>Message: </strong> {{ message }}
</div>
{% endfor %}

<div class="title-box">
    <form action="/signin">
        <h1>dietio</h1>
    </form>

</div>

<div class="login-info-container">

        <div id="login-container-one"></div>
        <div  id="login-container-two"></div>
    <div class="container">
        <div class="login-textbox-container">
            <form action="/signup" method="post">
                {% csrf_token %}
                <input type="text"      id="user"   name="user"  placeholder="username" class="login-textbox">
                <input type="email"     id="email"  name="email" placeholder="email" class="login-textbox">
                <input type="password"  id="pass1"  name="pass1" placeholder="password" class="login-textbox">
                <input type="password"  id="pass2"  name="pass2" placeholder="repeat-password" class="login-textbox">
                <input type="submit"    id="register_button" class="login-button"  value="register">
            </form>
        </div>
    </div>
</div>
<div class="already">
    <form action="/signin">
        <input  type="submit" id="already-registered__button" value="already-registered">
    </form>
</div>
    <script src="" async defer></script>
</body>
</html>