$font: Verdana;
$width: 500px;
$plane-width: 100px;

body {
  font-family: $font;
  width: 750px
}
header {
  position: relative;
  background-image:url("clouds.jpg");
  border: 1px solid navy;
  height: 120px;
  width: $width;
  #plane{
    position: relative;
    width: $plane-width;
    animation: fly 10s infinite;
  }
}

@keyframes fly{
  0% {left: 0px; transform: rotateY(180deg);}
  50% {left: $width - $plane-width;}
  100% {left: 0px; }

}
section {
  float:left;
  width: $width;
  h1 {
    color: red;
  }
}
